<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <meta charset="utf-8">
    <title>{{ if .Params.title }}{{ .Params.title }} {{ else }}{{ .Title }}{{ end }}</title>
  </head>
  <body>
    <div class="container" style="margin-top: 2em;">
      <div class="columns">
        <div class="column col-xs-6"></div>
        <div class="column col-xs-3"><p>Hello, I'm Victor Rivera! Stay tuned to the launch of my blog.</p></div>
        <div class="column col-xs-3"></div>
      </div>
    </div>
  </body>
</html>
